@import "part:@sanity/base/theme/variables-style";

.previewWrapper {
  padding-top: var(--medium-padding);
}

.playerWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 56.25%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--border-radius-base);
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(177, 30, 35);
}